body
{
	font-family: Arial, sans-serif;
	text-align:center;
	background-color:#CEF6F5;
}

.container
{
        width:1000px;
        height:550px;
        margin: 0px auto;
	padding: 15 px;
	border: 2px solid black;
}

h1
{
	font-size: 32px;
	float: center;
}

h2
{
	font-size:16px;
	float:center;
}

p
{
	text-align:left;
	margin-left: 100px;
}
